.container {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(4, 200px);
    grid-column-gap: 25px;
    grid-row-gap: 25px;

    justify-content: center;
}

.poster {
    width: 200px;
    height: 295px;
}